build
CMakeFiles
execution
/build-cb/tropho3D-abm.layout
/build-cb/winsock.mod
/build-cb/par_zig_mod.mod
/build-cb/tropho_mod.mod
/build-cb/tropho3D-abm.cbp
/cyg-build-cb/tropho3D-abm.cbp
/rojan-build-cb/*.*
/tropho3D_GUI-build/ui_SimpleView2DUI.h
/tropho3D_GUI-build/ui_SimpleView3DUI.h
/tropho3D_GUI-build/ui_tropho3D_GUI.h
/tropho3D_GUI-build/Makefile
/tropho3D_GUI-build/Makefile.Debug
/tropho3D_GUI-build/Makefile.Release
tropho3D_GUI-build
build-cb
*/*.o
*/*.mod
**/*.o
**/*.mod
**/*.a
**/*.lib
**/*.exe
**/*.exp
**/*.def
**/*.dll
**/*.depend
**/*.layout
**/*.user
**/*.cbp




